* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Metropolis", sans-serif;
}

@font-face {
  font-family: "Metropolis";
  src: url("../public/fonts/metropolis.bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../public/fonts/metropolis.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
